<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Přidání pojištění</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/form-validation.css">
</head>

<body>
<div class="container">
  <h2>Přidání pojištění</h2>
  <form th:action="@{/api/insuranceapp/saveInsurance(personId=${person.id})}" th:object="${insurance}" method="POST">
    <label>Pojištění</label>
    <select th:field="*{type}" class="form-control col-4 mb-4">
      <option th:each="value : ${T(com.example.insuranceapp.model.InsuranceType).values()}"
              th:value="${value}" th:text="${value.displayValue}">
      </option>
    </select>
    <label>Částka</label>
    <input required type="number" th:field="*{amount}" class="form-control col-4 mb-4">
    <label>Předmět pojištění</label>
    <input required type="text" th:field="*{subject}" class="form-control col-4 mb-4">
    <label>Platnost od</label>
    <input required type="date" th:field="*{{begin}}" class="form-control col-4 mb-4">
    <label>Platnost do</label>
    <input required type="date" th:field="*{{end}}" class="form-control col-4 mb-4">
    <button class="btn btn-primary" type="submit">Uložit</button>
    <input type="hidden" th:field="*{id}">
  </form>
  <hr>
  <a th:href="@{/api/insuranceapp/personInsurances(personId=${person.id})}">Zpět na detail pojištěného</a>
</div>
</body>
</html>