<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Přidání osoby</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/form-validation.css">
</head>

<body>
<div class="container">
  <h2>Editace osoby</h2>
  <form th:action="@{/api/insuranceapp/savePersonDetail(personId=${person.id})}" th:object="${person}" method="POST">
    <label>Křestní jméno</label>
    <input required type="text" th:field="*{firstName}" class="form-control col-4 mb-4">
    <label>Příjmení</label>
    <input required type="text" th:field="*{lastName}" class="form-control col-4 mb-4">
    <label>Email</label>
    <input required type="email" th:field="*{email}" class="form-control col-4 mb-4">
    <label>Telefon</label>
    <input required type="text" th:field="*{phoneNumber}" class="form-control col-4 mb-4">
    <label>Ulice a č.p.</label>
    <input required type="text" th:field="*{streetAndNumber}" class="form-control col-4 mb-4">
    <label>Město</label>
    <input required type="text" th:field="*{city}" class="form-control col-4 mb-4">
    <label>PSČ</label>
    <input required type="text" th:field="*{zipCode}" class="form-control col-4 mb-4">
    <button class="btn btn-primary" type="submit">Uložit</button>
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{insurances}">
  </form>
  <hr>
  <a th:href="@{/api/insuranceapp/personInsurances(personId=${person.id})}">Zpět na detail pojištěného</a>
</div>
</body>
</html>