<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My insurance app</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <h1>My Insurance App!</h1>

        <p>Vítejte ve webové aplikaci evidující pojištěnce a jejich pojištění. Aplikace vznikla čistě
        ze studijních důvodů jako projekt ke zkoušce v rámci rekvalifikačního kurzu organizovaného firmou <a href="https://www.itnetwork.cz/" target="_blank">ITnetwork.cz</a>.
        Projekt má určitě daleko k dokonalosti, při bližším zkoumání by se dalo pár věcí udělat asi lépe, ale z časových důvodů
        už velké změny neproběhnou.</p>

        <p>
            <a th:href="@{/api/insuranceapp/persons}" class="btn btn-primary">Pojištěnci</a>
            <a th:href="@{/api/insuranceapp/insurances}" class="btn btn-primary">Pojištění</a>
        </p>

    </div>
</body>
</html>