<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pojištěnci</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h2>Pojištění</h2>

  <table class="table table-bordered table-striped">

    <thead>
    <tr>
        <th>Typ pojištění</th>
        <th>Částka</th>
        <th>Předmět pojištění</th>
        <th>Platnost od</th>
        <th>Platnost do</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="insurance: ${insurances}">
        <td class="align-middle" th:text="${insurance.type.getDisplayValue()}"></td>
        <td class="align-middle" th:text="${insurance.amount} + ' Kč'"></td>
        <td class="align-middle" th:text="${insurance.subject}"></td>
        <td class="align-middle" th:text="${#temporals.format(insurance.begin, 'd.M.yyyy')}"></td>
        <td class="align-middle" th:text="${#temporals.format(insurance.end, 'd.M.yyyy')}"></td>
    </tr>
    </tbody>

  </table>
  <hr>
  <a th:href="@{/api/insuranceapp}">Zpět na úvodní stránku</a>
</div>
</body>
</html>