<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detail pojištění</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h2>Detail pojištění</h2>

  <table class="table table-bordered table-striped" id="insurance-detail">

    <thead>
    <tr>
      <th>Typ pojištění</th>
      <th>Částka</th>
      <th>Předmět pojištění</th>
      <th>Platnost od</th>
      <th>Platnost do</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td th:text="${insurance.type.getDisplayValue()}"></td>
      <td th:text="${insurance.amount} + ' Kč'"></td>
      <td th:text="${insurance.subject}"></td>
      <td th:text="${#temporals.format(insurance.begin, 'd.M.yyyy')}"></td>
      <td th:text="${#temporals.format(insurance.end, 'd.M.yyyy')}"></td>
    </tr>
    </tbody>

  </table>

  <hr>
  <a th:href="@{/api/insuranceapp/personInsurances(personId=${person.id})}">Zpět na detail pojištěného</a>
</div>
</body>
</html>