<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail pojištěnce</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>
<div class="container">
    <table class="table-borderless mb-4" id="person-detail">
        <tr>
            <td class="text-right" rowspan="4"><img src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png" width="50%" height="50%"></td>
            <td><h2 th:text="${person.firstName} + ' ' + ${person.lastName}"></h2></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="${person.streetAndNumber}"></td>
            <td th:text="${person.email}"></td>
        </tr>
        <tr>
            <td th:text="${person.city}"></td>
            <td th:text="${person.phoneNumber}"></td>
        </tr>
        <tr>
            <td th:text="${person.zipCode}"></td>
        </tr>
    </table>

    <h2>Sjednaná pojištění</h2>
    <table class="table table-bordered table-striped" id="insurances">

        <thead>
        <tr>
            <th>Pojištění</th>
            <th>Částka</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="insurance: ${insurances}">
            <td class="align-middle"><a th:href="@{/api/insuranceapp/insuranceDetail(personId=${person.id}, insuranceId=${insurance.id})}" th:text="${insurance.type.getDisplayValue()}"></a></td>
            <td class="align-middle" th:text="${insurance.amount} + ' Kč'"></td>
            <td>
                <a th:href="@{/api/insuranceapp/editInsuranceForm(personId=${person.id}, insuranceId=${insurance.id})}" class="btn btn-warning">Editovat</a>
                <a th:href="@{/api/insuranceapp/deleteInsurance(personId=${person.id}, insuranceId=${insurance.id})}" class="btn btn-danger ml-2">Odstranit</a>
            </td>
        </tr>
        </tbody>

    </table>

    <a th:href="@{/api/insuranceapp/addInsuranceForm(personId=${person.id})}" class="btn btn-primary">Přidat pojištění</a>
    <a th:href="@{/api/insuranceapp/editPersonFormDetail(personId=${person.id})}" class="btn btn-warning">Editovat pojištěnce</a>
    <a th:href="@{/api/insuranceapp/deletePerson(personId=${person.id})}" class="btn btn-danger">Odstranit pojištěnce</a>

    <hr>
    <a th:href="@{/api/insuranceapp/persons}">Zpět na seznam pojištěnců</a>
</div>
</body>
</html>