<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pojištěnci</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Pojištěnci</h2>

        <table class="table table-bordered table-striped" id="persons">

            <thead>
            <tr>
                <th>Jméno</th>
                <th>Bydliště</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="person: ${persons}">
                <td class="align-middle"><a th:href="@{/api/insuranceapp/personInsurances(personId=${person.id})}" th:text="${person.firstName} + ' ' + ${person.lastName}"></a></td>
                <td class="align-middle" th:text="${person.streetAndNumber} + ', ' + ${person.zipCode} + ' ' + ${person.city}"></td>
                <td>
                    <a th:href="@{/api/insuranceapp/editPersonForm(personId=${person.id})}" class="btn btn-warning">Editovat</a>
                    <a th:href="@{/api/insuranceapp/deletePerson(personId=${person.id})}" class="btn btn-danger ml-2">Odstranit</a>
                </td>
            </tr>
            </tbody>

        </table>
        <a th:href="@{/api/insuranceapp/addPersonForm}" class="btn btn-primary">Nový pojištěnec</a>
        <hr>
        <a th:href="@{/api/insuranceapp}">Zpět na úvodní stránku</a>
    </div>
</body>
</html>